@media screen and (max-width: 1656px) {

.boton{
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    width: 70px;
    height: 5vh;
    transition: 0.5s;
    background-color: rgba(44,212,152,1);

}

.menu{
    width: 100% !important;
}

#heading
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}


.boton .next{
    position: absolute;
    top: 50%;
    right: 22%;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 1.8px solid #fff;
    border-left: 1.8px solid #fff;
    z-index: 100000;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    transition: 0.5s;
}
.boton .prev{
    position: absolute;
    top: 50%;
    left: 22%;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 1.8px solid #fff;
    border-left: 1.8px solid #fff;
    z-index: 100000;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    transition: 0.5s;
}


#box span{
    /* display: flex; */
    position: relative;
    margin-top: 15px !important;
    /* width: 100%;
    height: 100%; */
    line-height: 35px;
    /* margin: auto; */
    display: none;
    align-items: center;
    justify-self: center;
    user-select: none;
}

#box span:nth-child(1){
    display: initial;
}

.table{
    width: 100%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1) !important;
    margin-right: calc(var(--bs-gutter-x)/ -2) !important;
    margin-left: calc(var(--bs-gutter-x)/ -2) !important;
}

.card-body{
    padding: 0 !important;
}

.score{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(44,212,152,1);
    margin-top: 0px;
    text-align: center;
    width: 100%;
}

#total{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(44,212,152,1);
    text-align: center;
    width: 100%;
}
#total2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(44,212,152,1);
    text-align: center;
    width: 100%;
}

#total3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(44,212,152,1);
    text-align: center;
    width: 100%;
}
#total4{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(44,212,152,1);
    text-align: center;
    width: 100%;
}

#parP2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(44,212,152,1);
    text-align: center;
    width: 100%;
}

#scoreHeader{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 2000000000;
        justify-content: space-evenly;
        align-items: center;
}

#scoreBody {
    position: relative;
}

#input[type="checkbox"] { -webkit-appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; }
input[type="submit"], input[type="button"] { -webkit-appearance: button; }
select { -webkit-appearance:textfield; }

input[disabled] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(44,212,152,1);
    text-align: center;
    width: 100%;
    opacity: 100%;
}

#inputDetails {
    position: absolute;
    width: 60%;
    background-color: white;
    z-index: 2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    margin-top: 50px;
    margin-left: 8%;
  }
  
  .display{
    display: none;
  }

/* th{
    display: flex;
    align-items: center;
    justify-content: ce;
} */


  .col-6 {
    flex: 0 0 auto;
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

label{
    display: inline-flex;
    justify-content: space-around;
    margin: 0px 3px;
    align-items: center;
    margin-right: 25px;
}

p#player1{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}
p#player2{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

}