<footer>
    <div class="container">
        <div class="back-to-top">
            <a href="#hero"><i class="fas fa-chevron-up"></i></a>
        </div>
        <div class="footer-content">
            <div class="footer-content-about animate-top">
                <h1><a href="#" class="logoFooter"><span>H</span>ealth<span>C</span>are</a></h1>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, esse, quam saepe quae possimus est nam, eveniet deserunt quis ipsa odio exercitationem quia? Sapiente, ratione repudiandae eaque aperiam quos modi?</p>
            </div>
            <div class="footer-content-divider animate-bottom">
                <div class="social-menu">
                    <h4>Follow along</h4>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-tripadvisor"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="newsletter-container">
                    <h4>Newsletter</h4>
                    <form action="" class="newsletter-form">
                        <input type="text" class="newsletter-input" placeholder="Your email adress...">
                        <button class="newsletter-btn" type="submit"><i class="fas fa-envelope"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
